<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <title>Testing System</title>
    </head>
    <body>
        <header>
            <h1>Приложение для проверки домашних заданий учеников</h1>
        </header>
        <div name="instructions">
            <img src="{{ url_for('static', filename='img/spreadsheet_pupil.PNG') }}">
        </div>
    </body>
</html>